* {
  margin: 0;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  gap: 8px;
}

.links p {
  color: #2C2C2C;
  width: 110px;
  font-size: 14px;
  font-weight: 500;
}

.Menu {
  visibility: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 10px
}

.btn1,
.btn2 {
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
}

.btn1 {
  background-color: #FFFFFF;
}

.btn2 {
  background-color: #FD665E;
  color: #FFFFFF;
}

.title {
  color: #000000;
  font-size: 50px;
  width: 800px;
  line-height: 46px;
  font-weight: 700;
  margin: 60px 50px;
}

.orange {
  color: #FD665E;
}

.heroContainer {
  margin: 40px 80px;
  display: flex;
  justify-content: space-between;
}

.heroLeft p {
  color: #000000;
  font-size: 17px;
  line-height: 26px;
  word-spacing: 4px;
}

.heroLeft button {
  margin-top: 30px;
  background-color: #FD665E;
  color: #FFFFFF;
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
}

.heroImage img {
  width: 500px;
  height: 280px;
}

.swipe {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
}

.valueText {
  color: #000000;
  font-size: 28px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.swipebtns {
  align-self: last baseline;
}

.leftarrow,
.rightarrow {
  background-color: #00000008;
  border-radius: 4px;
  padding: 2px;
}

.rightarrow {
  margin-right: 10px;
}

.sampleImages {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
}

.img1,
.img2,
.img3,
.img4 {
  width: 210px;
  height: 257px;
}

.ourValue {
  margin: 50px 50px;
  display: flex;
  justify-content: space-between;
}

.valueImage img {
  width: 325px;
  height: 310px;
}

.valueRange {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.completion,
.trueCost,
.monitoring {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.txt {
  color: #272727;
  font-size: 16px;
}

.valueTexts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
}

.txtTitle {
  font-size: 16px;
  font-weight: 700;
}

.testimonial {
  margin: 10px 80px;
  display: flex;
  justify-content: right;
  gap: 40px;
}

.testimony {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
}

.testimonyText {
  width: 365px;
  height: auto;
  font-size: 18px;
  font-weight: 400;
}

.author {
  font-size: 12px;
  color: #000000;
}

.lowerBar {
  display: flex;
  justify-content: space-between;
}

.dreamProject {
  margin: 40px 50px;
  display: flex;
  justify-content: space-around;
  gap:
}

.imgBuild {
  position: relative;
}

.cloudLft {
  position: absolute;
  top: 73px;
  left: -78px;
}

.cloudRgt {
  position: absolute;
  top: 220px;
  right: -21px;
}

.dreamTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dreamTxt h2 {
  font-size: 30px;
  line-height: 30px;
  width: 258px;
  height: auto;
}

.dreamTxt h2 span {
  color: #FD665E;
}

.partnersWrap {
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
  gap: 15px;
}

.PrtnersList {
  display: flex;
  justify-content: space-between;
}

.partner {
  opacity: 0.5;
  width: 58px;
  height: auto;
}

.footerWrap {
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.leftList {
  display: flex;
  justify-content: center;
  gap: 29px;
  font-size: 12px;
  color: #2C2C2C;
}

@media screen and (max-width:920px) {


  .img4 {
    /* visibility: hidden; */
    opacity: 0.9;
  }

  .sampleImages {
    margin: 20px 50px;
    justify-content: space-between;
    gap: 20px;
  }

  .leftList {
    font-size: 14px;
    gap: 20px;
  }
}

@media screen and (max-width:845px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 200px;
  }

  .links {
    display: none;
  }

  .links,
  .btn,
  .btn2 {
    visibility: hidden;
  }

  .Search,
  .Menu {
    visibility: visible;
    padding-left: 20px;
  }

  .heroImage img {
    width: 400px;
    height: auto;
  }

  .heroContainer {
    /* margin: 40px 80px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .testimonial {
    margin: 10px 100px;
    /* display: flex;
    justify-content: right;
    gap: 40px; */
  }

  .titleWrap {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
  }

  .title {
    /* display: flex; */
    text-justify: center;
  }

  .swipe,
  .sampleImages,
  .ourValue,
  .dreamProject,
  .partnersWrap,
  .leftList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .img4 {
    opacity: 0.5;
  }

  .img1,
  .img2,
  .img3,
  .img4 {
    width: 400px;
    min-height: 150px;
  }

  .PrtnersList {
    display: grid;
    grid-template-columns: auto auto;
    /* align-items: center; */

    gap: 35px;
  }

  .partner {
    width: 70px;
    /* height: auto; */
  }

  .footerWrap {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .leftList h5 {
    font-size: medium;
  }

  .logo2 {
    margin: 30px 0;
  }

  .logo {
    width: 90px;
  }

}